.bgImg{
  background-image: url(./assets/libraryImg.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .bgImg{
    background-image: url(./assets/libraryImg.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}

